.home-container {
    background-color: hsl(240, 22%, 15%);
    min-height: 100vh;
    padding: 2rem;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
.loading {
    color: hsl(0, 0%, 80%);
    font-size: 7rem;
    margin-top: 2rem;
}
h1 {
    margin-bottom: 2rem;
    color: hsl(0, 0%, 100%);
}
.error {
    color: hsl(0, 89%, 59%);
    font-size: 1.5rem;
    margin-top: 2rem;
}

    
  